.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%; /* Pastikan tidak ada elemen yang melebihi 100% lebar */
  padding: 10px;
  margin: 0 auto; /* Gunakan auto margin untuk pusatkan */
}

.logo {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  /* background-color: #e8d7f1; */
  padding: 0 20px;
  padding-top: 20px;
  font-size: 2.2rem;
}

.header,
.catalog {
  width: 100%; /* Pastikan elemen ini tidak melampaui lebar viewport */
  overflow-x: hidden; /* Tambahkan ini jika perlu */
}

.site-header .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.63)),url('./assets/img/background.jpeg');
}

.logo img {
  height: 40px;
}

.site-header h1{
  color: rgb(0, 0, 0);
}

.hero-navbar{
  padding: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.about-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.card {
  max-width: 100%;
  box-sizing: border-box;
  height: 400px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  justify-items: center;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
  text-align: center;
}

.card-button-beli {
  display: inline-block;
  background-color: #3e9c41;
  color: #fff;
  padding: 8px 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 5px;
}

.card-button-beli:hover {
  background-color: #3e8e41;
}

.card-button-preview {
  display: inline-block;
  background-color: #4c7faf;
  color: #fff;
  padding: 8px 16px;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 5px;
}

.card-button-icon{
  padding-right: 3px;
}

.hero {
  padding: 10vw 0;
  max-height: 50%;
}
.hero .hero-title .title{
  text-align: center;
  margin: 0;
  font-size: 4rem;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;

}

.hero .tagline{
  font-size: small;
  margin-bottom: 1rem;
  color: white;
}

.hero .hero-navbar{
  justify-content: flex-start;
}
/* Container for the entire filter section */
.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Label for the filter */
.filter-container label {
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
}

/* Container for the select elements */
.select-container {
  display: flex;
  gap: 10px;
}

/* Styling for select elements */
.select-container select {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 11px;
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer .container {
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer-credit {
  font-size: 0.875rem;
}

.footer-icon{
  color: #ffffff;
}
.wrapper {
  margin-top: 0px;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.wrapper i {
  font-size: 25px;
  color: #ffffff;
}

.wrapper .icon {
  position: relative;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 20px;
  transition: all 0.2s ease;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  padding: 5px 8px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: #ffffff;
  color: #0a0a0a;
  border-radius: 5px;
  font-weight: 600;
  font-size: 10px;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  bottom: -3px;
  letter-spacing: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s ease;
}

.wrapper .icon:hover .tooltip {
  top: -20px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.footer-links ul li {
  display: inline;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.5rem;
  }

  .header a {
    padding: 0.1rem;
    text-decoration: none;
    font-weight: 500;
    color: #191d6e;
    transition: all 0.2s ease-in-out;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.3s;
  }

  .header h1{
    font-size: medium;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
    margin: 0;
  }

  .card {
    width: 160px;
    height: 350px;
  }

  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; /* Atur jarak antara judul dan ikon */
  }
  
  .card-title {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  
  .premium-badge {
    display: flex;
    color: gold; 
    font-size: 1.2em; 
  }

  .hero .hero-title .title{
    font-size: 2rem;
  }

  .card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

 
  .card-description {
    font-size: 14px;
  }

  .card-button-beli {
    padding: 4px 8px;
    font-size: 14px;
  }

  .card-button-preview {
    padding: 4px 8px;
    font-size: 14px;
  }

  .hero {
    height: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
  }

  .hero .hero-image img {
    width: 200px;
  }

  .hero .hero-description .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .hero .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .hero-description p {
    line-height: 1.2rem;
  }

  .hero .hero-description a {
    padding: 0.3rem 1.5rem;
    font-weight: 500;
  }
}

.hidden {
  display: none;
}



@media only screen and (min-width: 600px) and (max-width: 900px) {
  .hero {
    height: 100%;
    margin-bottom: 6rem;
    margin-top: 5rem;
  }

  .hero .hero-image img {
    width: 300px;
    min-width: 250px;
  }

  .hero .hero-description .title {
    font-size: 1.2rem;
  }

  .hero .hero-description p {
    line-height: 1.2rem;
    font-size: 1rem;
  }

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 200px;
    height: 350px;
  }

  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; /* Atur jarak antara judul dan ikon */
  }
  
  .card-title {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
  
  .premium-badge {
    display: flex;
    color: gold; 
    align-items: center;
    font-size: 1.2em; 
  }

  .card-description {
    font-size: 14px;
  }

  .card-button-beli {
    padding: 4px 8px;
    font-size: 14px;
  }

  .card-button-preview {
    padding: 4px 8px;
    font-size: 14px;
  }
}

.filter-container {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.theme-filter, .vip-filter {
  width: auto;
  margin-bottom: 0;
}

.theme-filter {
  flex-grow: 1;
  margin-right: 20px;
}

.theme-filter label, .vip-filter label {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 10px;
}

.theme-filter select {
  width: auto;
  min-width: 200px;
}
